{% extends 'base.html' %}
{% load static %}
{% block css %}<link rel="stylesheet" type="text/css" href="{% static 'css/shopping_cart.css' %}">{% endblock %}
{% block title %}Carrito{% endblock %}

{% block content %}
<section class="site-main__section" id="top-section">
    <div class="breadcumb">
        <div class="breadcumb-div"><a href="{% url 'shop' %}">GoShop</a></div>
        <div class="breadcumb-div breadcumb-div-next">
            <a href="{% url 'cart' %}"><b>Carrito</b></a>
        </div>
    </div>
    {% if not products %}
    <h2>No hay artículos en el carrito.</h2>
    {% else %}
</section>
<main class="site-main__section__main" id="main">
    <article class="cart-container">
        <h2>Carrito de compra</h2>
        <ul class="cart-container__products" id="products-container">
            {% for article in products %}
            <li class="product" id="product-{{article.id}}">
                <div class="product__img-container">
                    {% if article.sale_price %}
                    <span class="text-on_sale"><b>En oferta</b></span>
                    {% endif %}
                    {% for p in products_model %}
                    {% if p.image == article.image %}
                    {% if article.sale_price %}
                    <span class="text-on_sale"><b>En oferta</b></span>
                    {% endif %}
                    <img src="{{p.image.url}}">
                    {% endif %}
                    {% endfor %}
                </div>
                <div class="product__info">
                    <div class="product__info__div">
                        <h3 class="product__name">{{article.name}}</h3>
                        <div class="product__details">
                            {% if article.sale_price %}
                            <p>
                                <b><s>${{article.price}}</s> ${{article.sale_price}}</b>
                            </p>
                            <span class="span-price sale_price" id="sale_price-{{article.id}}" hidden>{{article.sale_price}}</span>
                            {% else %}
                            <p><b>${{article.price}}</b></p>
                            <span class="span-price price" id="price-{{article.id}}" hidden>{{article.price}}</span>
                            {% endif %}
                        </div>
                        {% for p in products_model %}
                        {% if p.id == article.id %}
                        <span class="stock" id="stock-{{article.id}}"><b>Stock disponible: {{p.stock}}</b></span>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="product__actions">
                    <div class="product__actions__quantity-container">
                        <input class="input-quantity-product" id="input-quantity-product-{{article.id}}" type="text" value="{{article.quantity}}" oninput="validateNumbers(event)">
                        <script>
                            function validateNumbers(event) {
                            let value = event.target.value;
                            
                            value = value.replace(/[^\d]/g, '');
                            value = value.replace('0', '');
                            
                            event.target.value = value;
                            }
                        </script>
                        <div class="container-spin">
                            <button class="container-spin__button button-up button-up-click" id="button-up-{{article.id}}">
                                <i class="fa-solid fa-chevron-up button-icon button-icon-up button-up-click" id="button-icon-up-{{article.id}}"></i>
                            </button>
                            <button class="container-spin__button button-down button-down-click" id="button-down-{{article.id}}">
                                <i class="fa-solid fa-chevron-down button-icon button-icon-down button-down-click" id="button-icon-down-{{article.id}}"></i>
                            </button>
                        </div>
                    </div>
                    {% if article.sale_price %}
                    <span class="total_product_price" id="total_product_price-{{article.id}}"></span>
                    {% else %}
                    <span class="total_product_price" id="total_product_price-{{article.id}}"></span>
                    {% endif %}
                    <i class="fa-solid fa-trash icon-trash" id="icon-trash-{{article.id}}"></i>
                </div>
            </li>
            <hr id="hr-{{article.id}}">
            {% endfor %}
        </ul>
    </article>
    <article class="cart-container__info">
        <div class="cart-container__info__div cart-container__info__span-container">
            <span class="info info-text" id="total-quantity">{{total_quantity}} artículos</span>
            <span class="info info-price" id="total-price-all"></span>
        </div>
        <hr>
        <div class="cart-container__info__div cart-container__info__delivery-container">
            <span class="info info-text">Cargos por delivery</span>
            <span class="info info-price" id="total-delivery"></span>
        </div>
        <hr>
        <div class="cart-container__info__div cart-container__info__total-container">
            <h3 class="info info-text"><b>Total a pagar</b></h3>
            <h3 class="info info-price" id="total-to-pay"></h3>
        </div>
        <hr>
        <form method="post" class="cart-container__info__form" name="form-purchase" id="form-purchase">
            {% csrf_token%}
            <button type="submit" class="cart-container__info__button" name="purchase-button" id="purchase-button">Realizar compra</button>
        </form>
    </article>
</main>
{% endif %}
<script>
    window.data = {id_products: "{{id_products|safe}}", total_quantity: "{{total_quantity|safe}}"};
</script>
<script src="{% static 'js/shopping_cart.js' %}"></script>
{% endblock %}