*{
	font-family: 'Tilt Neon', cursive;
}

header{
	background-color: #191;
}

.div-mobile{
	display: none;
}

#nav-menu-mobile{
	display: none;
	position: fixed;
	width: 100%;
	justify-content: end;
	background-color: #191;
	padding: 10px;
}

#nav_menu__dropdown{
	display: none;
	position: fixed;
	height: 100%;
	width: 30%;
	right: -30%;
	z-index: 1;
	background-color: #191;
	transition: all 500ms;
}

#back_menu{
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
}

.nav_menu__dropdown__ul{
	display: none;
	color: #fff;
	height: 90%;
	align-self: center;
	grid-template-rows: repeat(4, minmax(min-content, max-content));
	gap: 75px;
	align-content: center;
	padding: 0 10px;
}

.nav_menu__dropdown__ul-li{
	display: grid;
	justify-items: start;
	grid-template-columns: repeat(2, minmax(min-content, max-content));
	gap: 10px;
	align-items: center;
}

.nav_menu__dropdown__ul-li a{
	text-decoration: none;
	color: #ff0;
}

.nav_menu__dropdown__ul-li a:hover{
	color: #005;
}

#icon-bars{
	color: #fff;
}

.nav_menu__access{
	display: flex;
	justify-content: space-evenly;
	border-bottom: 2px solid #005;
	text-align: center;
}

.nav_menu__access > a{
	background-color: #344;
	padding: 10px 20px;
	border-radius: 20px;
	color: #ff0;
	text-decoration: none;
	margin: 10px 0;
}

.nav_menu__access > a:hover{
	background-color: #009;
	color: #fff;
}

.nav_menu__username{
	background-color: #044;
	padding: 10px 20px;
	border-radius: 20px;
	color: #ff0;
	text-decoration: none;
	margin: 10px 0;
}

.nav_menu__ul{
	display: flex;
	justify-content: space-evenly;
	list-style-type: none;
	color: #fff;
	margin: 10px 0;
}

.nav_menu__ul-li a{
	text-decoration: none;
	color: #ff0;
	margin-left: 5px;
	text-align: center;
}

.nav_menu__ul-li a:hover{
	text-decoration: none;
	color: #005;
}

.site-main{
	display: flex;
	max-width: 1360px;
	margin-bottom: 20px;
}

footer{
	background-color: #19564C;
}

.footer__div{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.footer__div-extras__releases{
	display: flex;
	justify-content: space-evenly;
}

.footer__div-extras__releases__li{
	margin: 20px;
	list-style-type: none;
}

.footer__div-extras__releases__li a{
	padding: 10px;
}

.camayo_game:hover{
	background-color: #ff002f;
}

.comic:hover{
	background-color: #150081;
}

.release_chart i{
	margin-left: 5px;
}

.footer__div__info{
	font-size: 20px;
	color: #fff;
	text-align: center;
}

.footer__div-social_media__ul{
	display: flex;
	justify-content: space-evenly;
}

.footer__div-social_media__ul__li{
	list-style-type: none;
	margin: 20px 10px;
}

.footer__div-social_media__ul__li a{
	padding: 15px;
	font-size: 20px;
}

.footer__div__ul__li a{
	display: flex;
	background: #333;
	color:#fff;
	box-shadow: 0 3px 5px 0 rgba(0, 0, 0, .2);
	transition: all .2s;
	text-decoration: none;
}

.footer__div__ul__li a:hover{
	transform: translateY(-3px) scale(1.05);
	box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .4);
	filter: none;
}

.instagram:hover{
	background-color: #e4405f;
}

.facebook:hover{
	background-color: #3b5999;
}

.memes:hover{
	background-color: #3cb44e;
}

.wikipedia:hover{
	background-color: #000;
}

@media screen and (min-width:1361px){
	.site-main{
		margin: auto;
	}

	header{
		display: flex;
		justify-content: center;
	}

	.nav_menu{
		width: 1360px;
	}

	footer{
		display: flex;
		justify-content: center;
	}

	.footer__div{
		width: 1360px;
	}
}

@media screen and (max-width:960px){
	.div-mobile{
		display: flex;
	}

	.nav_menu{
		display: none;
	}

	#nav-menu-mobile{
		display: flex;
	}

	.nav_menu__access{
		margin-bottom: 0;
		width: 100%;
		border-bottom: 0;
	}
	
	.nav_menu__access a{
		padding: 0;
		border-radius: 0;
		background-color: transparent;
		margin: 0;
	}
	
	.nav_menu__access a:hover{
		background-color: transparent;
		color: #005;
	}

	.nav_menu__username{
		padding: 0;
		border-radius: 0;
		background-color: transparent;
		margin: 0;
	}

	#nav_menu__dropdown{
		display: flex;
	}

	.nav_menu__dropdown__ul{
		display: grid;
	}

	.site-main{
		margin-top: 20px;
	}

	.footer__div{
		display: grid;
		justify-items: center;
		row-gap: 5px;
		width: 100%;
	}

	.footer__div-extras{
		width: 100%;
	}

	.footer__div-extras__releases__li{
		margin-top: 10px 0 0 0;
	}

	.footer__div-social_media{
		width: 100%;
	}

	.footer__div-social_media__ul__li{
		margin: 10px 0;
	}

	.footer__div__info{
		order: 1;
	}
}

@media screen and (max-width: 480px){
	body{
		width: fit-content;
	}

	.nav_menu__dropdown__ul-li{
		font-size: 12px;
		gap: 2px;
	}

	.nav_menu__access a{
		margin: 0 5px;
	}
}

@media screen and (max-width: 390px){
	.site-main{
		margin-top: 40px;
	}
}