.site-main__section{
	display: flex;
	flex-direction: column;
	padding: 0 20px;
    margin-bottom: 20px;
    max-width: 100%;
    max-height: 100%;
}

.filter-form {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    border: 3px solid #50697b;
    width: max-content;
    margin-bottom: 10px;
}

.filter-form__div {
    padding: 10px;
    border-right: 3px solid #50697b;
}

.container-min-price{
    border-right: 3px solid #50697b;
}

.filter-form__button {
    padding: 10px;
    width: 80px;
    background-color: #004AAD;
    color: #fff;
    border: none;
    outline: none;
}

.filter-form__button:hover {
    background-color: #00ab66;
    cursor: pointer;
}

.products-container{
    display: grid;
    justify-items: center;
	grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr;
    grid-auto-columns: 1fr;
	gap: 30px;
	width: 100%;
    height: 100%;
}

.product{
    display: flex;
    flex-direction: column;
    border: 3px solid #50697b;
}

.product:hover{
    border-color: #004AAD;
}

.product__img-container{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    height: 300px;
    background-color: #92b8d0;
}

.text-on_sale {
    user-select: none;
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px 10px;
    background-color: #00ab66;
}

.text-on_sale::after{
    content: "";
    margin-top: -5px;
    margin-left: 10px;
    position: absolute;
    border-top: 14px solid #00ab66;
    border-right: 14px solid transparent;
    border-bottom: 14px solid transparent;
    border-left: 14px solid #00ab66;
}

.product__img-container img{
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.product__info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    height: 100%;
    padding: 10px;
}

.product__info-text {
    display: grid;
    gap: 10px;
}

.product__name{
    text-align: center;
    margin-bottom: 5px;
}

.product__details{
    display: grid;
    gap: 5px;
}

.form{
    display: flex;
    margin-top: 10px;
}

.product__purchase{
    position: relative;
    width: 100%;
}

.product__purchase-button{
    display: block;
    text-decoration: none;
    text-align: center;
    border: none;
    background-color: #004AAD;
    color: #fff;
    padding: 8px;
    width: 100%;
    cursor: pointer;
}

.product__purchase-button:hover{
    background-color: #001FAD;
}

.form__span{
    display: none;
    width: 100%;
    margin-top: 10px;
    justify-content: center;
    text-align: center;
}

.form-see-description {
    display: flex;
}

.button-see-description{
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.button-see-description:hover {
    color: #004AAD;
}

@media screen and (max-width:1080px){
	.products-container{
		grid-template-columns: repeat(3, 1fr);
	}
}

@media screen and (max-width:960px) {
    .breadcumb {
        margin-top: 10px;
    }
}

@media screen and (max-width: 800px){
	body {
        min-width: 800px;
    }
}

@media screen and (max-width:780px){
	.products-container{
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (max-width:550px){
	.products-container{
		grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: auto;
	}

    .product__img-container {
        height: auto;
    }

	.product{
		width: 60%;
	}

    .text-on_sale {
        position: absolute;
        top: 0;
        left: 0;
        padding: 0;
        background-color: #00ab66;
    }
    
    .text-on_sale::after{
        content: "";
        margin-top: 0;
        margin-left: 0;
        position: absolute;
        border-top: 9px solid #00ab66;
        border-right: 9px solid transparent;
        border-bottom: 9px solid transparent;
        border-left: 9px solid #00ab66;
    }
}

@media screen and (max-width:383px){

    .form__span{
        font-size: 13px;
    }
}