.site-main__section{
    display: flex;
	flex-direction: column;
	padding: 0 20px;
}

.site-main__section__div{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-self: center;
    background-color: #a4d3d2;
    border: 3px solid #50697b;
    padding: 20px;
    width: max-content;
}

.div-user{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 20px;
    padding: 20px 0 0 0;
}

.title{
    background-color: #f0f0f0;
    text-align: center;
    border: 3px solid #50697b;
    padding: 10px;
}

.container{
    display: flex;
    align-items: center;
    background-color: #56cdcb;
    border: 3px solid #50697b;
    padding: 20px;
    text-decoration: none;
    color: #000;
}

.icon-container{
    margin-right: 20px;
    background-color: #fff;
    border-radius: 8px;
    padding: 10px;
}

@media screen and (max-width: 420px){
    body{
        width: fit-content;
    }
    
    .site-main__section{
        padding: 0 20px;
    }
}