{% extends 'base.html' %}
{% load static %}
{% block css %}<link rel="stylesheet" type="text/css" href="{% static 'css/buy.css' %}">{% endblock %}
{% block title %}Carrito{% endblock %}

{% block content %}
<section class="site-main__section">
    <div class="breadcumb">
        <div class="breadcumb-div"><a href="{% url 'shop' %}">GoShop</a></div>
        <div class="breadcumb-div breadcumb-div-next">
            <a href="{% url 'cart' %}">Carrito</a>
        </div>
        <div class="breadcumb-div breadcumb-div-next">
            <a href="{% url 'buy' %}"><b>Realizar compra</b></a>
        </div>
    </div>
</section>
<main class="site-main__section__main">
    <article class="info-container">
        <section class="info-container__section personal-info" id="personal-info">
            <div class="titles-container titles-container-personal-info" id="titles-container-personal-info">
                <div class="titles-container__div titles-container__div-info" id="div-personal-info">
                    <div class="titles-container__div__child titles-container__check title-check" id="personal-info-title-check"><i class="fa-solid fa-check"></i></div>
                    <h3 class="titles-container__div__child titles-container__title title-number" id="personal-info-title-number">1</h3>
                    <h3 class="titles-container__div__child titles-container__title title-name" id="personal-info-title-name">DATOS PERSONALES</h3>
                </div>
                <div class="titles-container__div titles-container__div-edit" id="div-edit-personal-info">
                    <h3 class="titles-container__div__child titles-container__edit title-edit" id="personal-info-title-edit">EDITAR</h3>
                    <div class="titles-container__div__child titles-container__gear title-gear" id="personal-info-title-gear"><i class="fa-solid fa-gear"></i></i></div>
                </div>
            </div>
            <form class="form-personal_info" id="form-personal_info">
                <label class="form__label form__label-personal_info form__label-name" for="name"><b>Nombres</b></label>
                <input class="form__input form__input-personal_info form__input-name" type="text" name="name" id="name" value="{{names}}" required>
                <label class="form__label form__label-personal_info form__label-last_name" for="last_name"><b>Apellidos</b></label>
                <input class="form__input form__input-personal_info form__input-last_name" type="text" name="last_name" id="last_name" value="{{surnames}}" required>
                <label class="form__label form__label-personal_info form__label-dni" for="dni"><b>Documento de Identidad (DNI)</b></label>
                <input class="form__input form__input-personal_info form__input-dni" type="text" name="dni" id="dni" required>
                <label class="form__label form__label-personal_info form__label-address" for="address" required><b>Dirección de envío</b></label>
                <input class="form__input form__input-personal_info form__input-address" type="text" name="address" id="address" required>
                <span class="span-advice span-error" id="span-error-personal-info">Rellene los campos correctamente.</span>
                <button type="submit" class="button form-personal_info__button" name="purchase-button" id="purchase-button">Continuar</button>
            </form>
            <img class="load-image" id="loag-image" src="{% static 'images/logo.png'%}">
        </section>
        <section class="info-container__section payment-info" id="payment-info">
            <div class="titles-container titles-container-payment-info" id="titles-container-payment-info">
                <div class="titles-container__div titles-container__div-info" id="div-personal-info">
                    <h3 class="titles-container__div__child titles-container__title title-number" id="personal-info-title-number">2</h3>
                    <h3 class="titles-container__div__child titles-container__title title-name" id="personal-info-title-name">VERIFICACIÓN DE SEGURIDAD</h3>
                </div>
            </div>
            <div class="container-paypal-form" id="form-payment">
                {% csrf_token %}
                {{captcha_form.captcha}}
                <span class="span-advice span-error" id="error-captcha"></span>
                {{paypal_form.render}}
            </div>
        </section>
    </article>
    <article class="cart-container__info">
        <div class="cart-container__info__div cart-container__info__span-container">
            <span class="info info-text" id="total-quantity">{{total_quantity}} artículos</span>
            <span class="info info-price" id="total-price-all">${{total_price}}</span>
        </div>
        <hr>
        <div class="cart-container__info__div cart-container__info__delivery-container">
            <span class="info info-text">Cargos por delivery</span>
            <span class="info info-price" id="total-delivery"></span>
        </div>
        <hr>
        <div class="cart-container__info__div cart-container__info__total-container">
            <h3 class="info info-text"><b>Total a pagar</b></h3>
            <h3 class="info info-price" id="total-to-pay"></h3>
        </div>
    </article>
</main>
<script src="{% static 'js/buy.js' %}"></script>
{% endblock %}