{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
	<title>Iniciar sesión</title>
</head>
<body>
    <main class="site-main">
        <section class="section-main">
			<form method="post" class="form" id="form">
				{% csrf_token %}
				<script>
				const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
				</script>
				<div class="form__container-div">
					<div class="form__div form__username">
						<input class="form__input" name="username" id="username" type="text" placeholder=" " required>
						<label class="form__label" for="username">Nombre de usuario</label>
						<div class="span-container">
							<span class="form__span-warning" id="error-username">Usa de 5 a 15 caracteres (al menos una letra). Se permiten puntos y/o guiones no consecutivos excepto al inicio y al final.</span>
						</div>
					</div>
					<div class="form__div form__password">
						<input class="form__input" name="password" id="password" type="password" placeholder=" " required>
						<label class="form__label" for="password">Contraseña</label>
						<div class="span-container">
							<span class="form__span-warning" id="error-password">La contraseña (8 caracteres) debe tener al menos una minúscula, una mayúscula y un caracter especial.</span>
							<span class="form__span-warning" id="error-login">{{error}}</span>
						</div>
					</div>
				</div>
				<p class="form__p">¿Eres nuevo? <a href="{% url 'signup' %}" class="form__a">Crea una cuenta</a></p>
				<div class="form__div form__container-button">
					<button class="button">Iniciar sesión</button>
					<span class="form__span-warning" id="error-submit">Rellene los campos correctamente.</span>
				</div>
			</form>
		</section>
    </main>
	<script src="{% static 'js/login_mistakes.js' %}"></script>
</body>
</html>