{% extends 'base.html' %}
{% load static %}
{% block css %}<link rel="stylesheet" type="text/css" href="{% static 'css/product_description.css' %}">{% endblock %}
{% block title %}{{product.name}}{% endblock %}

{% block content %}
<section class="site-main__section">
    <div class="breadcumb">
        <div class="breadcumb-div"><a href="{% url 'shop' %}">GoShop</a></div>
        <div class="breadcumb-div breadcumb-div-next">
            <a href="{% url view %}">{{previous_view}}</a>
        </div>
        {% if product.name %}
            <form method="post" class="form-see-description">
                {% csrf_token %}
                <input name="product_id" value="{{product.id}}" hidden>
                <div class="breadcumb-div breadcumb-div-next">
                    <button class="button-see-description" name="see-description"><b>{{product.name}}</b></button>
                </div>
            </form>
        {% else %}
        <div class="breadcumb-div breadcumb-div-next" style="user-select: none;">
            <b>Descripción del producto</b>
        </div>
        {% endif %}
    </div>
    {% if error %}
    <h1>{{error}}</h1>
    {% else %}
    <div class="single-product-container" id="single_product-container">
        <div class="single-product">
            <div class="single-product__img-container">
                {% if product.on_sale %}
                <span class="text-on_sale"><b>En oferta</b></span>
                {% endif %}
                <img src="{{product.image.url}}">
            </div>
            <div class="single-product__info">
                <div class="single-product__info-text">
                    <h1 class="single-product__name">{{product.name}}</h1>
                    <div class="single-product__details">
                        {% if product.on_sale %}
                        <h2 class="single-price"><b>Precio: <s>S/. {{product.price}}</s> S/. {{product.sale_price}}</b></h2>
                        {% else %}
                        <h2 class="single-price"><b>Precio: S/. {{product.price}}</b></h2>
                        {% endif %}
                        <h3 id="single-stock-article"><b>Stock disponible: {{product.stock}}</b></h3>
                    </div>
                    <div class="single-description-container">
                        <h3 class="single-title-description">Descripción</h3>
                        <p class="single-description">{{product.description}}</p>
                    </div>
                </div>
                <form method="post" class="form-single-product" id="form-single-product">
                    {% csrf_token %}
                    <div class="single-product__purchase">
                        <span class="" id="warning">Stock agotado.</span>
                        <button class="single-product__purchase-button" id="single-button-article">Agregar al carrito</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <section class="section-cart" id="section-cart">
        <div id="back_product_description"></div>
        <form class="section-cart__form" method="post" id="form-cart">
            {% csrf_token %}
            <h3 class="section-cart__form__message">Productos agregados exitosamente a su carrito de compras</h3>
            <article class="section-cart__summary-description">
                <div class="section-cart__summary-description__container section-cart__summary-description__container-product">
                    <img class="section-cart__summary-description__container-product__image" src="{{product.image.url}}">
                    <div class="section-cart__summary-description__container-product__info">
                        <h2>{{product.name}}</h2>
                        <h4>S/. {{product.price}}</h4>
                    </div>
                </div>
                <div class="section-cart__summary-description__container  section-cart__summary-description__container-shopcart">
                    <div class="shopcart-container">
                        <h2 class="shopcart-title" id="shopcart-quantity"></h2>
                        <p id="product-quantity"></p>
                        {% if product.on_sale %}
                        <p id="product-on_sale-price"><b>Precio unitario: S/. {{product.sale_price}}</b></p>
                        {% else %}
                        <p id="product-price"><b>Precio unitario: S/. {{product.price}}</b></p>
                        {% endif %}
                        <p id="total-price"></p>
                        <div class="shopcart-container__div">
                            <button class="shopcart-container__div__button shopcart-button" name="shopcart-button" id="shopcart-button">Ver carrito</button>
                            <button class="shopcart-container__div__button pay-button" name="go-shopping">Proceder a pagar</button>
                        </div>
                    </div>
                </div>
            </article>
        </form>
    </section>
    <script>
        window.data = {product_id: "{{product.id|safe}}"};
    </script>
    <script src="{% static 'js/product_description.js' %}"></script>
    {% endif %}
</section>
{% endblock %}