.site-main__section{
	display: flex;
	flex-direction: column;
	padding: 0 20px;
    margin-bottom: 20px;
    max-width: 100%;
    max-height: 100%;
}

.text-on_sale {
    user-select: none;
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px 10px;
    background-color: #00ab66;
}

.text-on_sale::after{
    content: "";
    margin-top: -5px;
    margin-left: 10px;
    position: absolute;
    border-top: 14px solid #00ab66;
    border-right: 14px solid transparent;
    border-bottom: 14px solid transparent;
    border-left: 14px solid #00ab66;
}

.single-product__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.single-product__info-text {
    display: grid;
    gap: 5px;
}

.single-product {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.single-product__img-container {
    display: flex;
    justify-content: center;
    position: relative;
    border: 3px solid #000;
}

.single-product__info {
    border: 3px solid #000;
    padding: 0 20px 20px 20px;
}

.single-product__details {
    display: grid;
    gap: 10px;
}

.single-description-container {
    display: grid;
    gap: 10px;
    margin: 10px 0 20px 0;
}

.single-product__purchase-button {
    display: block;
    text-decoration: none;
    text-align: center;
    border: none;
    background-color: #004AAD;
    color: #fff;
    padding: 8px;
    width: 100%;
    cursor: pointer;
}

.single-product__purchase-button:hover{
    background-color: #001FAD;
}

.form-see-description {
    display: flex;
}

.button-see-description{
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.button-see-description:hover {
    color: #004AAD;
}

.section-cart{
    position: fixed;
    display: none;
    width: 100%;
    justify-content: center;
    max-height: 400px;
    max-width: 1380px;
    margin-left: -40px;
    top: 0;
    transition: all 1s;
    z-index: 1;
}

.section-cart__form {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    align-items: center;
    padding-top: 20px;
    margin-top: 70px;
    color: transparent;
    border: transparent;
    z-index: 1;
    transition-property: background-color, color, border;
    transition-duration: 1s, 1s, .3s;
}

.section-cart__form-show{
    background-color: #ddd;
    color: #000;
}

.section-cart__form__message {
    margin-bottom: 20px;
}

.section-cart__summary-description {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.section-cart__summary-description__container {
    padding-top: 20px;
}

.section-cart__summary-description__container-product {
    display: flex;
    max-width: 500px;
    border-right: 2px solid #828080;
    border-top: 2px solid #828080;
}

.section-cart__summary-description__container-product__image{
    margin-top: -20px;
    max-width: 250px;
    padding: 10px 20px;
}

.section-cart__summary-description__container-product__info {
    padding-right: 20px;
}

.section-cart__summary-description__container-product__info h2 {
    margin-bottom: 20px;
}

.section-cart__summary-description__container-shopcart {
    border-top: 2px solid #828080;
}

.shopcart-container {
    display: grid;
    gap: 20px;
    margin: 0 20px;
}

.shopcart-container__div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.shopcart-container__div__button {
    text-decoration: none;
    text-align: center;
    border: none;
    background-color: #004AAD;
    color: #fff;
    padding: 8px;
    width: 100%;
    cursor: pointer;
}

#back_product_description {
    display: none;
	position: fixed;
    left: 0;
    width: 100%;
    height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

@media screen and (max-width:1080px){
    body {
        min-width: 1000px;
    }

    .section-cart{
        height: auto;
        max-height: none;
    }

    .section-cart__summary-description {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, fit-content);
    }
    
    .section-cart__summary-description__container-product {
        max-width: none;
        border-right: none;
    }
    
    .section-cart__summary-description__container-product__image{
        max-width: 280px;
    }

    .shopcart-container__div {
        margin-bottom: 20px;
    }
}

@media screen and (max-width:960px) {
    .breadcumb {
        margin-top: 10px;
    }

    .footer__div{
        display: flex;
    }

	.footer__div__info{
		order: 0;
        justify-content: center;
	}

    .footer__div-social_media__ul {
		justify-content: center;
	}

    .footer__div-social_media__ul__li{
        margin: 20px 10px;
    }
}